{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5></h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="feather icon-maximize full-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="m-b-30 m-t-20">Sessions en cours</h6>
                    {% for session in sessions %}
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ session.name }}</h5>
                            </div>
                            <div class="card-block">
                                <div id="external-events">
                                    {% for session_formation in session.formations %}
                                        {% if session_formation.id_formation | length %}
                                            <div class="row js-events">
                                                <div class="col-md-8">
                                                    <div data-id="{{ session_formation.id }}" class="fc-event {% if session_formation.date == null %}formations{% else %}formation-selected{% endif %} ui-draggable ui-draggable-handle">{{ session_formation.id_formation.0.name }}</div>
                                                </div>
                                                <div class="col-md-4 js-events-date">
                                                    {% if session_formation.date != null %}{{ session_formation.date | date("d/m/Y") }}{% else %}Non attribué{% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
