{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle Session{% endblock %}

{% block header %}
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Nouvelle Session</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('index') }}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ path('session') }}">Liste des Sessions</a></li>
                    <li class="breadcrumb-item">Nouvelle Session</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <a href="{{ path('session') }}" class="btn btn-mat btn-info"><i class="fa fa-chevron-left"></i>Retour</a>
                <button class="btn btn-mat btn-success" onclick="document.forms['session'].submit();"><i class="fa fa-save"></i>Sauvegarder</button>
            </div>
        </div>
        <div class="card-block">
            {{ include('session/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
