<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet Annuel{% endblock %}</title>
        
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <!-- Required Fremwork -->
        <link href="{{ asset('vendors/bower_components/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Date-time picker css -->
        <link href="{{ asset('vendors/bower_components/bootstrap-datetimepicker/css/datetimepicker.css') }}" rel="stylesheet" type="text/css">
        <!-- themify-icons line icon -->
        <link href="{{ asset('vendors/assets/icon/themify-icons/themify-icons.css') }}" rel="stylesheet" type="text/css">
        <!-- Font Awesome -->
        <link href="{{ asset('vendors/assets/icon/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- ico font -->
        <link href="{{ asset('vendors/assets/icon/icofont/css/icofont.css') }}" rel="stylesheet" type="text/css">
        <!-- feather Awesome -->
        <link href="{{ asset('vendors/assets/icon/feather/css/feather.css') }}" rel="stylesheet" type="text/css">
        <!-- SweetAlert css -->
        <link href="{{ asset('vendors/bower_components/sweetalert/css/sweetalert.css') }}" rel="stylesheet" type="text/css">
        <!-- Calender css -->
        <link href="{{ asset('vendors/bower_components/fullcalendar/css/fullcalendar.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendors/bower_components/fullcalendar/css/fullcalendar.print.css') }}" rel="stylesheet" type="text/css" media='print'>
        <!-- Style.css -->
        <link href="{{ asset('vendors/assets/css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendors/assets/css/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendors/assets/css/custom.css') }}" rel="stylesheet" type="text/css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block base %}
            {% include "partials/_loader.html.twig" %}

            <div id="pcoded" class="pcoded">
                <div class="pcoded-overlay-box"></div>
                <div class="pcoded-container navbar-wrapper">

                    {% include "partials/_navbar.html.twig" %}

                    <div class="pcoded-main-container">
                        <div class="pcoded-wrapper">
                            {% include "partials/_sidebar.html.twig" %}
                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">
                                            <div class="page-header">
                                                {% block header %}{% endblock %}
                                            </div>
                                            <div class="page-body">
                                                {% block body %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- Required Jquery -->
        <script src="{{ asset('vendors/bower_components/jquery/js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/jquery-ui/js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/popper.js/js/popper.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- jquery slimscroll js -->
        <script src="{{ asset('vendors/bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }}" type="text/javascript"></script>
        <!-- modernizr js -->
        <script src="{{ asset('vendors/bower_components/modernizr/js/modernizr.js') }}" type="text/javascript"></script>
        <!-- Chart js -->
        <script src="{{ asset('vendors/bower_components/chart.js/js/Chart.js') }}" type="text/javascript"></script>
        <!-- amchart js -->
        <script src="{{ asset('vendors/assets/pages/widget/amchart/amcharts.js') }}"></script>
        <script src="{{ asset('vendors/assets/pages/widget/amchart/serial.js') }}"></script>
        <script src="{{ asset('vendors/assets/pages/widget/amchart/light.js') }}"></script>
        <script src="{{ asset('vendors/assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('vendors/assets/js/pcoded.min.js') }}"></script>
        <!-- Bootstrap date-time-picker js -->
        <script src="{{ asset('vendors/assets/pages/advance-elements/moment-with-locales.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.fr.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/util-datetimepicker.js') }}" type="text/javascript"></script>
        <!-- tinymce js -->
        <script src="{{ asset('vendors/bower_components/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('vendors/bower_components/tinymce/jquery.tinymce.min.js') }}"></script>
        <!-- SweetAlert js -->
        <script src="{{ asset('vendors/bower_components/sweetalert/js/sweetalert.min.js') }}" type="text/javascript"></script>
        <!-- Bootbox js -->
        <script src="{{ asset('vendors/bower_components/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
        <!-- calender js -->
        <script src="{{ asset('vendors/bower_components/moment/js/moment.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/fullcalendar/js/fullcalendar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/bower_components/fullcalendar/locales/fr.js') }}" type="text/javascript"></script>
        <!-- custom js -->
        <script src="{{ asset('vendors/assets/js/vartical-layout.min.js') }}"></script>
        <script src="{{ asset('vendors/assets/pages/dashboard/custom-dashboard.js') }}" type="text/javascript"></script>
        <script src="{{ asset('vendors/assets/js/script.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/util-common.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/util-wysiwyg.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/util-calendar.js') }}" type="text/javascript"></script>

        <!-- FOS JS ROUTING -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
