{% extends 'backend/base.html.twig' %}

{% block title %}{{ parent() }} | Édition #{{ user.id }} - {{ user.fullname }}{% endblock %}

{% block header %}
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Édition #{{ user.id }} - {{ user.fullname }}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('admin') }}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Liste des Utilisateurs</a></li>
                    <li class="breadcrumb-item">Édition #{{ user.id }} - {{ user.fullname }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5>Édition #{{ user.id }} - {{ user.fullname }}</h5>
            <div class="float-right">
                <a href="{{ path('user_index') }}" class="btn btn-mat btn-info"><i class="fa fa-chevron-left"></i>Retour</a>
                <button class="btn btn-mat btn-success" onclick="document.forms['user'].submit();"><i class="fa fa-save"></i>Sauvegarder</button>
                {# <button class="btn btn-mat btn-success" name="test" onclick="document.forms['user'].submit();"><i class="fa fa-save"></i>Sauvegarder & Publier</button> #}
                <a data-toggle="confirm" href="{{ path('user_delete', { id : user.id }) }}" class="btn btn-mat btn-danger"><i class="fa fa-trash"></i>Supprimer</a>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    {{ include('backend/user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
