{% extends 'backend/base.html.twig' %}

{% block title %}{{ parent() }} | Liste des Users{% endblock %}

{% block header %}
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Liste des Users</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('admin') }}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Liste des Users</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5><i class="feather icon-users"></i> Liste des Users</h5>
            <a href="{{ path('user_new') }}" class="btn btn-mat btn-primary f-right"> <i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if loop.index0 != 0 %}, {% endif %}{{ role }}
                                {% endfor %}
                            </td>
                            <td class="icon-btn">
                                {% if user.enabled %}
                                    <a href="{{ path('user_toggle', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" title="Désactiver" class="btn btn-info btn-mat btn-mini"><i class="fa fa-toggle-on"></i></a>
                                {% else %}
                                    <a href="{{ path('user_toggle', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" title="Activer" class="btn btn-warning btn-mat btn-mini"><i class="fa fa-toggle-off"></i></a>
                                {% endif %}
                                <a href="{{ path('user_edit', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" title="Éditer" class="btn btn-primary btn-mat btn-mini"><i class="icofont icofont-ui-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucun Utilisateur dans la base de donnée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
