{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Utilisateurs{% endblock %}

{% block header %}
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Liste des Utilisateurs</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{{ path('index') }}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Liste des Utilisateurs</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5><i class="feather icon-users"></i> Liste des Utilisateurs</h5>
            <a href="{{ path('user_add') }}" class="btn btn-mat btn-primary f-right"> <i class="fa fa-plus"></i> Ajouter</a>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th style="width:5%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if loop.index0 != 0 %}, {% endif %}{{ role }}
                                {% endfor %}
                            </td>
                            <td class="icon-btn">
                                <a href="{{ path('user_remove', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer" class="btn btn-danger btn-mat btn-mini"><i class="icofont icofont-ui-delete"></i></a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" title="Éditer" class="btn btn-primary btn-mat btn-mini"><i class="icofont icofont-ui-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucun Utilisateur dans la base de donnée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
